
@{
    ViewBag.Title = "Index";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="b">
    <i class="fa fa-lock" style="font-size:36px; color:#666666"></i>
    <p style="display:inline-block; font:bold; width:40%">Welcome, Vrajesh Patel <!--Model.Name--></p>
    <a href="@Url.Action("PastBookings", "Employer")" class="fa fa-user" style="font-size:68px;"></a>
</div>

<div class="a">
    <img style="width:auto" height="250" src="~/Pictures/Logo.jpeg" alt="Logo" />
</div>


<fieldset>
    <form>
        <div class="center" id="xx" style="width:100%">
            <h3>Select a category of work you are looking for:</h3><br /><br />
            <div class="container">
                <div class="row">
                    <div class="column">
                        <a class="btn btn-primary" href="@Url.Action("PotentialFreelancer", "Employer")" style="width:73%; height:48%" ;>Plumber</a><br /><br /><br />
                        <a class="btn btn-primary" href="@Url.Action("PotentialFreelancer", "Employer")" style="width:73%; height:48%">Electrician</a><br /><br /><br />
                    </div>
                    <div class="column">
                        <a class="btn btn-primary" href="@Url.Action("PotentialFreelancer", "Employer")" style="width:73%; height:48%">Landscaping</a><br /><br /><br />
                        <a class="btn btn-primary" href="@Url.Action("PotentialFreelancer", "Employer")" style="width:73%; height:48%">Painting</a><br /><br /><br />
                    </div>
                    <div class="column">
                        <a class="btn btn-primary" href="@Url.Action("PotentialFreelancer", "Employer")" style="width:73%; height:48%">Photographer</a><br /><br /><br />
                        <a class="btn btn-primary" href="@Url.Action("PotentialFreelancer", "Employer")" style="width:73%; height:48%">Graphic Designer</a><br /><br /><br />
                    </div>

                </div>
            </div>
        </div>
    </form>
</fieldset>

